syntax: glob
.git
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
[Db]ebug*/
obj/
[Rr]elease*/
_BuildOutput/*
.vs/
.vscode/
Site/.vscode/

_ReSharper*/
*.ncrunchsolution
*.ncrunchsolution.user
*.ncrunchproject
*.crunchsolution.cache

[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.suo
[sS]ource
[sS]andbox
*.vs10x
*.orig
*.[Dd]ot[Ss]ettings
*.js.map
deploy.cmd

Site/bin/NativeBinaries/*

packages/*
!Site/packages/repositories.config

Site/App_Data/*
!Site/App_Data/packages

Site/log.txt
Site/data/deploy*

Site/App_Plugins/UmbracoForms/[Ii]nstalled

/Site/media/*
/Site/data/Revision/documents/*
/Site/data/Revision/media/*
/Site/data/Revision/mediaproperties/*
/Site/data/Revision/properties/*

node_modules/
bower_components/
docs/