<?xml version="1.0" encoding="utf-8"?>
<Macro Key="2dc54560-8483-4b93-b02f-bd67dda8a82f" Alias="RenderFormScripts" Level="0">
  <Name>Render Form Scripts</Name>
  <MacroSource>~/Views/MacroPartials/RenderUmbracoFormScripts.cshtml</MacroSource>
  <MacroType>PartialView</MacroType>
  <UseInEditor>false</UseInEditor>
  <DontRender>true</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>