<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="890a11f7-6907-4c7e-aa86-139ece1d9184" Alias="eventPage" Level="1">
  <Info>
    <Name>Event page</Name>
    <Icon>icon-calendar color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="8957b7c9-c8bb-48c8-8e0d-377caf45b5d2">event</Composition>
      <Composition Key="80288b00-9eb0-4165-ae2d-2fe1be9e50d9">hero</Composition>
      <Composition Key="5d02c9ec-a643-462b-9c2a-b288382b17b3">listing</Composition>
      <Composition Key="691447de-0c10-40c2-8944-b1b5651f94d4">navigation</Composition>
      <Composition Key="9f3f1025-92e7-460d-820b-eed5c2442460">seoMetaTags</Composition>
      <Composition Key="5c7c4177-116c-4cdf-a664-e70b120d4d9d">standardContent</Composition>
      <Composition Key="2dd3471e-f9dc-4c12-b304-7d35dc8f47ab">xmlSiteMapSettings</Composition>
    </Compositions>
    <DefaultTemplate>EventPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="70837633-a0a5-48bb-9f96-2ee724a7fbc2">EventPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>