<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cb813487-37c5-4e5e-9137-dcb3b3d2e4e4" Alias="footer" Level="2">
  <Info>
    <Name>Footer</Name>
    <Icon>icon-defrag color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1a9ecfa4-5648-42c7-93d0-13eea8b8bcc1</Key>
      <Name>Copyright text</Name>
      <Alias>copyrightText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Copyright text to display in the footer]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>060492bc-ac1a-48f2-8c1f-0d831068eda5</Key>
      <Name>Email</Name>
      <Alias>email</Alias>
      <Definition>1f35e7aa-ef10-4b0b-9bba-1653c9e77d64</Definition>
      <Type>Umbraco.EmailAddress</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>95c8c275-5bde-4e0e-9a99-a8a9116ca938</Key>
      <Name>Facebook</Name>
      <Alias>facebook</Alias>
      <Definition>88b2c753-6a23-4598-b6f2-f43e40b49ea7</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b26e53ac-6011-4d8e-a38a-fa972c1db1c4</Key>
      <Name>Instagram</Name>
      <Alias>instagram</Alias>
      <Definition>88b2c753-6a23-4598-b6f2-f43e40b49ea7</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ca57a6c6-5e81-4089-9810-5b6a8905854f</Key>
      <Name>Links</Name>
      <Alias>links</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Links to display in the footer]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Footer</Caption>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>