<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="09925da3-b139-4ad8-b9a6-c9fc3102187d" Alias="formConfig" Level="2">
  <Info>
    <Name>Form Config</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>338bd979-bb9c-49bd-806b-f9e07886cff0</Key>
      <Name>Form</Name>
      <Alias>form</Alias>
      <Definition>07264105-aae4-4383-a818-5d6733d93f20</Definition>
      <Type>UmbracoForms.FormPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the form to include on the page]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Form</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Form</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>