<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="852e0e84-be8f-4a33-a282-c73d81aaf827" Alias="homePage" Level="1">
  <Info>
    <Name>Home page</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="813094fb-ae4c-419b-9133-1a48c9c6ac6e">cookieBanner</Composition>
      <Composition Key="cb813487-37c5-4e5e-9137-dcb3b3d2e4e4">footer</Composition>
      <Composition Key="80288b00-9eb0-4165-ae2d-2fe1be9e50d9">hero</Composition>
      <Composition Key="9f3f1025-92e7-460d-820b-eed5c2442460">seoMetaTags</Composition>
      <Composition Key="9f99e41a-16fa-45cd-9285-894da16e5e03">siteSettings</Composition>
      <Composition Key="2dd3471e-f9dc-4c12-b304-7d35dc8f47ab">xmlSiteMapSettings</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2f3c71b7-c37a-434a-8b4f-f74506b48cee">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="bd07d2db-8bb4-4c1c-addf-d9307543cfcd">contentPage</ContentType>
    <ContentType Key="8de87c45-8288-48b3-a02c-050b0f3a1eac">eventLandingPage</ContentType>
    <ContentType Key="f3d3e292-dc63-4808-8307-72cd4ab8b3aa">notFoundPage</ContentType>
    <ContentType Key="41979130-19fc-416c-8d73-3dcaa6b263ff">xmlSiteMap</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>6f04cf7f-16b2-4b4a-b416-42f638767488</Key>
      <Name>Logos</Name>
      <Alias>logos</Alias>
      <Definition>b507a4e4-f3cc-4854-84d8-08b57dfc0530</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f52e63c7-1964-4391-9dbb-a84425a13117</Key>
      <Name>Main Body</Name>
      <Alias>mainBody</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Body content for the homepage]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>31fa92fc-87ff-48c8-977f-e018714174a8</Key>
      <Name>Promos</Name>
      <Alias>promos</Alias>
      <Definition>caa68fb1-abcf-4c6f-8787-2d7f7216ef51</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Promo section for the homepage]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>550bc96a-e33d-4ade-b2c1-b0c8b640aa1b</Key>
      <Name>Secondary Body</Name>
      <Alias>secondaryBody</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>6</SortOrder>
    </Tab>
  </Tabs>
</ContentType>