<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="852e0e84-be8f-4a33-a282-c73d81aaf827" Alias="homePage" Level="1">
  <Info>
    <Name>Home page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="813094fb-ae4c-419b-9133-1a48c9c6ac6e">cookieBanner</Composition>
      <Composition Key="cb813487-37c5-4e5e-9137-dcb3b3d2e4e4">footer</Composition>
      <Composition Key="9d53e711-8662-4d99-9900-8f240a6cc624">header</Composition>
      <Composition Key="80288b00-9eb0-4165-ae2d-2fe1be9e50d9">hero</Composition>
      <Composition Key="9f3f1025-92e7-460d-820b-eed5c2442460">seoMetaTags</Composition>
      <Composition Key="9f99e41a-16fa-45cd-9285-894da16e5e03">siteSettings</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2f3c71b7-c37a-434a-8b4f-f74506b48cee">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="eafd12f2-4304-43d5-9c90-df59490cc3e8">contactForm</ContentType>
    <ContentType Key="bd07d2db-8bb4-4c1c-addf-d9307543cfcd">contentPage</ContentType>
    <ContentType Key="726db059-1d14-4186-8b81-a4309566dd73">loginPage</ContentType>
    <ContentType Key="f3d3e292-dc63-4808-8307-72cd4ab8b3aa">notFoundPage</ContentType>
    <ContentType Key="a465522e-9ed0-436c-9051-40688059ae14">shopPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>88192950-6b33-45b9-8628-1a9e5b5a770c</Key>
      <Name>Authenticated Member Group</Name>
      <Alias>authenticatedMemberGroup</Alias>
      <Definition>46d338ce-d7bd-4d02-be42-07d0357d28d0</Definition>
      <Type>Umbraco.MemberGroupPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>6f04cf7f-16b2-4b4a-b416-42f638767488</Key>
      <Name>Logos</Name>
      <Alias>logos</Alias>
      <Definition>16a483d9-7f0f-4066-b020-483197b33f37</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f52e63c7-1964-4391-9dbb-a84425a13117</Key>
      <Name>Main Body</Name>
      <Alias>mainBody</Alias>
      <Definition>f99705e8-db04-4b60-bf50-9a15cd2c6100</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Body content for the homepage]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>31fa92fc-87ff-48c8-977f-e018714174a8</Key>
      <Name>Promos</Name>
      <Alias>promos</Alias>
      <Definition>3c5fe1ca-f2d2-439f-a8fc-97b93a407afd</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Promo section for the homepage]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>550bc96a-e33d-4ade-b2c1-b0c8b640aa1b</Key>
      <Name>Secondary Body</Name>
      <Alias>secondaryBody</Alias>
      <Definition>2dcfbeab-dd00-415e-a44a-9bb45f2c9876</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>bc661c47-cd63-4f46-8851-f6f8610c33fc</Key>
      <Name>Welcome Text</Name>
      <Alias>welcomeText</Alias>
      <Definition>8ba941e9-e345-43a5-ad29-e32d828fd2da</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Home</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Home</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>