<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="726db059-1d14-4186-8b81-a4309566dd73" Alias="loginPage" Level="1">
  <Info>
    <Name>Login page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="5c7c4177-116c-4cdf-a664-e70b120d4d9d">standardContent</Composition>
      <Composition Key="9f3f1025-92e7-460d-820b-eed5c2442460">seoMetaTags</Composition>
      <Composition Key="80288b00-9eb0-4165-ae2d-2fe1be9e50d9">hero</Composition>
      <Composition Key="691447de-0c10-40c2-8944-b1b5651f94d4">navigation</Composition>
    </Compositions>
    <DefaultTemplate>LoginPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8591cfb2-a77b-4771-ba32-68ec40f6862b">LoginPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>