<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="691447de-0c10-40c2-8944-b1b5651f94d4" Alias="navigation" Level="2">
  <Info>
    <Name>Navigation</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ddf7c834-a0b5-419f-8847-94d7c5d469a2</Key>
      <Name>Hide from navigation</Name>
      <Alias>hideFromNavigation</Alias>
      <Definition>1235d9d6-2f35-4356-9776-864b61deb708</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Tick if the page should be hidden from the top navigation]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Navigation</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Navigation</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>