<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="859db364-1af5-4709-bf62-e1b7c3fe9b4d" Alias="promo" Level="2">
  <Info>
    <Name>Promo</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e5d76066-3b45-4f1e-9bff-825122c26b86</Key>
      <Name>Heading</Name>
      <Alias>heading</Alias>
      <Definition>278ce665-5659-4425-a22e-b18d334632ee</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Promo</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>e9742ae9-c2b0-49a1-9df3-f616d64d594f</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>d491d148-23e0-4892-a54b-6f07c03edf37</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Promo</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>54623d2e-03d9-48d5-b383-dc4eac41ae71</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>a8fde262-27c5-48e5-a352-a02b1a36c913</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Promo</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ec6fd77f-afa6-46d6-b59e-762c78fb25a2</Key>
      <Name>Text</Name>
      <Alias>text</Alias>
      <Definition>14e365cf-9057-47fe-940a-6d180b53d3e7</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Promo</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>581f4636-b1e2-4af8-8e96-45f08b9232db</Key>
      <Name>Theme</Name>
      <Alias>theme</Alias>
      <Definition>6bfc2e86-64cf-4229-9a59-d4b43f3f94cf</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Promo</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Promo</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>