<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a465522e-9ed0-436c-9051-40688059ae14" Alias="shopPage" Level="1">
  <Info>
    <Name>Shop page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>ShopPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="572c3bc9-8380-42dd-84ba-b0fdbab171de">ShopPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>