<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5c7c4177-116c-4cdf-a664-e70b120d4d9d" Alias="standardContent" Level="2">
  <Info>
    <Name>Standard Content</Name>
    <Icon>icon-defrag color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1143d16b-8312-46bb-8064-4c7a0ee33ec6</Key>
      <Name>Main content</Name>
      <Alias>mainContent</Alias>
      <Definition>40efb6a8-a674-43c6-814b-6e02fcc5f68c</Definition>
      <Type>Umbraco.Grid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Main content area for the page]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>5</SortOrder>
    </Tab>
  </Tabs>
</ContentType>