<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments" id="c76b6899-0f75-45ec-91bd-80fb32276970" name="joggers" alias="joggers" type="Starter" color="" url="https://www.s1.umbraco.io/project/joggers" trialExpireDate="2018-09-05T14:46:04.0574873Z">
  <environment type="live" name="Live" id="68926b37-6469-4bd6-88c3-d1caf990a68c">https://joggers.s1.umbraco.io</environment>
</environments>