@using Umbraco.Web.Models;
@using Umbraco.Web.PublishedContentModels;

@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    var footer = Model.Content.Site() as IFooter;
}


<footer>
    <div class="theme-default">
        <div class="social">
			<a href="https://www.facebook.com/" title="Facebook" target="_blank"><svg><use xlink:href="#svg-facebook"></use></svg></a>
            <a href="https://www.instagram.com/" title="Instagram" target="_blank"><svg><use xlink:href="#svg-instagram"></use></svg></a>
            <a href="mailto:email@company.com" title="Email" target="_blank"><svg><use xlink:href="#svg-email"></use></svg></a>
		</div>
        <nav>
            @{
                var links = footer.GetPropertyValue<RelatedLinks>("links");
                if (links != null && links.Any())
                {
                    <ul>
                        @foreach (var item in links)
                        {
                            var linkTarget = (item.NewWindow) ? "_blank" : null;
                            <li><a href="@item.Link" target="@linkTarget">@item.Caption</a></li>
                        }
                    </ul>
                }
            }
            <p>@footer.CopyrightText</p>
        </nav>
    </div>
</footer>



