<?xml version="1.0" encoding="utf-8"?>
<DataType Key="80bb58d7-b05c-43eb-b37e-5c40720a8cca" Alias="Cookie Banner - Content - Rich Text Editor" Level="1">
  <Info>
    <Name>Cookie Banner - Content - Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "code",
      "styleselect",
      "bold",
      "italic",
      "bullist",
      "numlist",
      "link",
      "unlink"  
    ],
    "stylesheets": [],
    "dimensions": {
      "height": 500
    },
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>