<?xml version="1.0" encoding="utf-8"?>
<DataType Key="882e67b0-7c7c-48ff-ab4c-aa85f30d1b6b" Alias="Footer - Facebook - Multi Url Picker" Level="1">
  <Info>
    <Name>Footer - Facebook - Multi Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>