<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e86d7c01-cddc-4e35-92a6-3e041d64dc1d" Alias="Footer - Email - Email address" Level="1">
  <Info>
    <Name>Footer - Email - Email address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>