<?xml version="1.0" encoding="utf-8"?>
<DataType Key="09301367-1041-4079-851d-d0030c5d7c4c" Alias="Hero - Background Image - Media Picker" Level="1">
  <Info>
    <Name>Hero - Background Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": false,
  "DisableFolderSelect": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>