<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1f300cd6-1af8-4585-a110-7f79103c6a5b" Alias="Hero - Narrow Hero - Checkbox" Level="1">
  <Info>
    <Name>Hero - Narrow Hero - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": "0",
  "Label": null
}]]></Config>
</DataType>