<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4cbc075b-7ad3-4af4-b87d-ea4d623fdf5c" Alias="Hero - Heading - Textbox" Level="1">
  <Info>
    <Name>Hero - Heading - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>