<?xml version="1.0" encoding="utf-8"?>
<DataType Key="90fe02ac-53ed-41ae-b016-118bb0fbc17c" Alias="Hero - Theme - Dropdown" Level="1">
  <Info>
    <Name>Hero - Theme - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "brand1"
    },
    {
      "id": 2,
      "value": "brand2"
    },
    {
      "id": 3,
      "value": "brand3"
    },
    {
      "id": 4,
      "value": "brand4"
    },
    {
      "id": 5,
      "value": "brand5"
    },
    {
      "id": 6,
      "value": "brand6"
    }
  ]
}]]></Config>
</DataType>