<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8ba941e9-e345-43a5-ad29-e32d828fd2da" Alias="Home page - Welcome Text - Textarea" Level="1">
  <Info>
    <Name>Home page - Welcome Text - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>