<?xml version="1.0" encoding="utf-8"?>
<DataType Key="46d338ce-d7bd-4d02-be42-07d0357d28d0" Alias="Home page - Authenticated Member Group - Member Group Picker" Level="1">
  <Info>
    <Name>Home page - Authenticated Member Group - Member Group Picker</Name>
    <EditorAlias>Umbraco.MemberGroupPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>