<?xml version="1.0" encoding="utf-8"?>
<DataType Key="16a483d9-7f0f-4066-b020-483197b33f37" Alias="Home page - Logos - Nested Content (1)" Level="1">
  <Info>
    <Name>Home page - Logos - Nested Content (1)</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "logoWithUrl",
      "ncTabAlias": "Logos",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>