<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ac16724c-f194-4b20-ae27-74910dfa68fd" Alias="Logo With Url - Link - Multi Url Picker" Level="1">
  <Info>
    <Name>Logo With Url - Link - Multi Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 0,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>