<?xml version="1.0" encoding="utf-8"?>
<DataType Key="278ce665-5659-4425-a22e-b18d334632ee" Alias="Promo - Heading - Textbox" Level="1">
  <Info>
    <Name>Promo - Heading - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>