<?xml version="1.0" encoding="utf-8"?>
<DataType Key="14e365cf-9057-47fe-940a-6d180b53d3e7" Alias="Promo - Text - Textbox" Level="1">
  <Info>
    <Name>Promo - Text - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>