<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d491d148-23e0-4892-a54b-6f07c03edf37" Alias="Promo - Image - Media Picker" Level="1">
  <Info>
    <Name>Promo - Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": false,
  "DisableFolderSelect": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>