<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a8fde262-27c5-48e5-a352-a02b1a36c913" Alias="Promo - Link - Content Picker" Level="1">
  <Info>
    <Name>Promo - Link - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>