<?xml version="1.0" encoding="utf-8"?>
<DataType Key="11c8ba40-e6e5-4b74-a328-bbafe55becda" Alias="Seo Meta Tags - Description - Textarea" Level="1">
  <Info>
    <Name>Seo Meta Tags - Description - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 155,
  "Rows": null
}]]></Config>
</DataType>