<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f1622dcb-63c4-4592-81d5-a852d0bc148c" Alias="Seo Meta Tags - Site Title - Textbox" Level="1">
  <Info>
    <Name>Seo Meta Tags - Site Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>