<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7da928cb-c8f3-4262-ba36-78dd2a9f7df3" Alias="Seo Meta Tags - Hide from search - Checkbox" Level="1">
  <Info>
    <Name>Seo Meta Tags - Hide from search - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": "0",
  "Label": null
}]]></Config>
</DataType>