<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6fef55c0-6b28-47b7-ac37-596cb7d5e276" Alias="Seo Meta Tags - Keywords - Tags" Level="1">
  <Info>
    <Name>Seo Meta Tags - Keywords - Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Group": "default",
  "StorageType": 1,
  "Delimiter": "\u0000"
}]]></Config>
</DataType>