/// Font size included in body
/// @group Configuration
/// @access public
/// @type number
$base-font-size: 16;

/// Map of common screen widths
/// @group Configuration
/// @access public
/// @type map
/// @prop {pixel} screen-widths.tablet-x-small - 480px wide device, large mobile
/// @prop {pixel} screen-widths.tablet-small - 600px wide device, slim android tablets
/// @prop {pixel} screen-widths.tablet - 768px wide device, portrait iPad
/// @prop {pixel} screen-widths.tablet - 1024px wide device, desktop and landscape iPad
/// @prop {pixel} screen-widths.desktop-large - 1280px wide device, wide screen desktop
/// and larger landscape tablets
$screen-widths : (
	tablet-x-small : 480px,
	tablet-small : 600px,
	tablet : 768px,
	desktop : 1024px,
	desktop-large : 1280px
);

/// 480px
/// @group Configuration
/// @access public
/// @type number
$bp-tablet-x-small: 30em;
/// 599px
/// @group Configuration
/// @access public
/// @type number
$bp-tablet-small-down: 37.438em;
/// 600px 
/// @group Configuration
/// @access public
/// @type number
$bp-tablet-small: 37.5em;
/// 601px 
/// @group Configuration
/// @access public
/// @type number
$bp-tablet-small-up: 37.563em;
/// 767px 
/// @group Configuration
/// @access public
/// @type number
$bp-tablet-down: 47.938em;
/// 768px 
/// @group Configuration
/// @access public
/// @type number
$bp-tablet: 48em;
/// 1023px 
/// @group Configuration
/// @access public
/// @type number
$bp-desktop-down: 63.938em;
/// 1024px
/// @group Configuration
/// @access public
/// @type number
$bp-desktop: 64em;
/// 1025px
/// @group Configuration
/// @access public
/// @type number
$bp-desktop-up: 64.063em;
/// 1279px
/// @group Configuration
/// @type number
$bp-desktop-large-down: 79.938em;
/// 1280px
/// @group Configuration
/// @access public
/// @type number
$bp-desktop-large: 80em;
/// Gutter for grid
/// @group Configuration
/// @access public
/// @type number
$gl-gutter: 30px;
/// Maximum width of site, will include the value for gl-gutter too
/// @group Configuration
/// @access public
/// @type number
/// @see $gl-gutter
$page-width: 1280px + ($gl-gutter * 2);

/// 
/// setConfig
/// Adjust the global variables for a different base font size, max width or grid gutter
/// 
/// @group Configuration
/// @param {pixel} $fontSize [16px] - Base font size applied to body
/// @param {pixel} $glGutter [30px] - Gutter of grid
/// @param {pixel} $pageWidth [1280px] - Max page width
/// 
/// 
@mixin setConfig($fontSize: 16px, $glGutter: 30px, $pageWidth: 1280px) {
	$base-font-size : $fontSize !global;
	$gl-gutter: $glGutter !global;
	$page-width: $pageWidth !global;
}
