<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bd07d2db-8bb4-4c1c-addf-d9307543cfcd" Alias="contentPage" Level="1">
  <Info>
    <Name>Content page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="80288b00-9eb0-4165-ae2d-2fe1be9e50d9">hero</Composition>
      <Composition Key="691447de-0c10-40c2-8944-b1b5651f94d4">navigation</Composition>
      <Composition Key="9f3f1025-92e7-460d-820b-eed5c2442460">seoMetaTags</Composition>
      <Composition Key="5c7c4177-116c-4cdf-a664-e70b120d4d9d">standardContent</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3183eba1-51a4-4391-88a3-342dd3f7ba61">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="eafd12f2-4304-43d5-9c90-df59490cc3e8">contactForm</ContentType>
    <ContentType Key="bd07d2db-8bb4-4c1c-addf-d9307543cfcd">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>