<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="813094fb-ae4c-419b-9133-1a48c9c6ac6e" Alias="cookieBanner" Level="2">
  <Info>
    <Name>Cookie Banner</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ebcd7d31-534b-4c8f-8230-bc0a8a3fa4a5</Key>
      <Name>Button text</Name>
      <Alias>buttonText</Alias>
      <Definition>dab9a181-101a-482e-b7a9-262ad5f5a9de</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text for the "Accept" button]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Cookie Banner</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b9028932-8db1-4791-8046-ac56644e4709</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>80bb58d7-b05c-43eb-b37e-5c40720a8cca</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Content to display in the cookie consent banner]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Cookie Banner</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Cookie Banner</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>