<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cb813487-37c5-4e5e-9137-dcb3b3d2e4e4" Alias="footer" Level="2">
  <Info>
    <Name>Footer</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1a9ecfa4-5648-42c7-93d0-13eea8b8bcc1</Key>
      <Name>Copyright text</Name>
      <Alias>copyrightText</Alias>
      <Definition>99d314f0-4579-42eb-8047-5a23ed1f37ea</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Copyright text to display in the footer]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>060492bc-ac1a-48f2-8c1f-0d831068eda5</Key>
      <Name>Email</Name>
      <Alias>email</Alias>
      <Definition>e86d7c01-cddc-4e35-92a6-3e041d64dc1d</Definition>
      <Type>Umbraco.EmailAddress</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>95c8c275-5bde-4e0e-9a99-a8a9116ca938</Key>
      <Name>Facebook</Name>
      <Alias>facebook</Alias>
      <Definition>882e67b0-7c7c-48ff-ab4c-aa85f30d1b6b</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>bc7168ff-d4a2-4bf1-b19f-0b534f974445</Key>
      <Name>Global Scripts</Name>
      <Alias>globalScripts</Alias>
      <Definition>c9fe8f5c-e78f-4183-b151-a4649b084ae7</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b26e53ac-6011-4d8e-a38a-fa972c1db1c4</Key>
      <Name>Instagram</Name>
      <Alias>instagram</Alias>
      <Definition>579f4d25-0f7e-4386-88f2-86447a7d845b</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ca57a6c6-5e81-4089-9810-5b6a8905854f</Key>
      <Name>Links</Name>
      <Alias>links</Alias>
      <Definition>7aa85c95-17df-4bf6-8660-5ef1f3af0914</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Links to display in the footer]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Footer</Caption>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>