<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="80288b00-9eb0-4165-ae2d-2fe1be9e50d9" Alias="hero" Level="2">
  <Info>
    <Name>Hero</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e267c241-7d1f-49ee-9066-3be135cb09c8</Key>
      <Name>Background Image</Name>
      <Alias>backgroundImage</Alias>
      <Definition>09301367-1041-4079-851d-d0030c5d7c4c</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Background Image used within the hero, this overrides the Theme Colour]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Hero</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>108becd1-c79a-4250-86ab-6678b201347a</Key>
      <Name>Heading</Name>
      <Alias>heading</Alias>
      <Definition>4cbc075b-7ad3-4af4-b87d-ea4d623fdf5c</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Hero</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>6280b343-c9e6-48cf-9cad-aa5de8c34cbb</Key>
      <Name>Icon</Name>
      <Alias>icon</Alias>
      <Definition>8fd67ba7-3aa8-45de-baab-a7c19b46ac67</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Hero</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b4384945-96bd-4418-9809-745d74e486b9</Key>
      <Name>Narrow Hero</Name>
      <Alias>narrowHero</Alias>
      <Definition>1f300cd6-1af8-4585-a110-7f79103c6a5b</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Hero</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>648c6366-9c04-4b0c-ae86-feefb7ba9c99</Key>
      <Name>Theme</Name>
      <Alias>theme</Alias>
      <Definition>90fe02ac-53ed-41ae-b016-118bb0fbc17c</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Hero</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>585ccf1c-d8b4-435b-9329-e89fdfeeb82b</Key>
      <Name>Use Typewriter Style</Name>
      <Alias>useTypewriterStyle</Alias>
      <Definition>e97d4f04-347c-4455-8140-8c8c08eee718</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Hero</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Hero</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>