<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bd40df65-f41a-41d4-aca2-41dc02b96192" Alias="logoWithUrl" Level="2">
  <Info>
    <Name>Logo With Url</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3d131af2-e284-46fb-8774-cb25ef833d18</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>ac16724c-f194-4b20-ae27-74910dfa68fd</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Logos</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f4833729-8e72-45fe-aac0-18859bbc1d3e</Key>
      <Name>Logo</Name>
      <Alias>logo</Alias>
      <Definition>42313dba-172d-4b2e-b4a3-f2c0ec0b6a15</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Logos</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Logos</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>