<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f3d3e292-dc63-4808-8307-72cd4ab8b3aa" Alias="notFoundPage" Level="1">
  <Info>
    <Name>Not found page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>404 page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="5c7c4177-116c-4cdf-a664-e70b120d4d9d">standardContent</Composition>
      <Composition Key="9f3f1025-92e7-460d-820b-eed5c2442460">seoMetaTags</Composition>
      <Composition Key="691447de-0c10-40c2-8944-b1b5651f94d4">navigation</Composition>
    </Compositions>
    <DefaultTemplate>NotFoundPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6d5b4972-a461-42d6-8eb0-cc2e47874b21">NotFoundPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>