<?xml version="1.0" encoding="utf-8"?>
<Macro Key="f9f59f93-1d42-4e5e-9a6a-8581e53bc60a" Alias="EventListing" Level="0">
  <Name>Event Listing</Name>
  <MacroSource>~/Views/MacroPartials/EventListing.cshtml</MacroSource>
  <MacroType>PartialView</MacroType>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties>
    <Property>
      <Name>Descending</Name>
      <Alias>descending</Alias>
      <SortOrder>2</SortOrder>
      <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    </Property>
    <Property>
      <Name>Number of items</Name>
      <Alias>numberOfItems</Alias>
      <SortOrder>0</SortOrder>
      <EditorAlias>Umbraco.Integer</EditorAlias>
    </Property>
    <Property>
      <Name>Sort Order</Name>
      <Alias>sortOrder</Alias>
      <SortOrder>1</SortOrder>
      <EditorAlias>propertyTypePicker</EditorAlias>
    </Property>
    <Property>
      <Name>Start Node</Name>
      <Alias>startNode</Alias>
      <SortOrder>3</SortOrder>
      <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    </Property>
  </Properties>
</Macro>