<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dab9a181-101a-482e-b7a9-262ad5f5a9de" Alias="Cookie Banner - Button text - Textbox" Level="1">
  <Info>
    <Name>Cookie Banner - Button text - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>