<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1f35e7aa-ef10-4b0b-9bba-1653c9e77d64" Alias="Email address" Level="1">
  <Info>
    <Name>Email address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>