<?xml version="1.0" encoding="utf-8"?>
<DataType Key="99d314f0-4579-42eb-8047-5a23ed1f37ea" Alias="Footer - Copyright text - Textbox" Level="1">
  <Info>
    <Name>Footer - Copyright text - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>