<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0f7257ee-1445-44f7-825a-8947e3d2dd3f" Alias="Form Picker" Level="1">
  <Info>
    <Name>Form Picker</Name>
    <EditorAlias>UmbracoForms.FormPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "allowedForms": []
}]]></Config>
</DataType>