<?xml version="1.0" encoding="utf-8"?>
<DataType Key="07264105-aae4-4383-a818-5d6733d93f20" Alias="Form Config - Form - Form Picker" Level="1">
  <Info>
    <Name>Form Config - Form - Form Picker</Name>
    <EditorAlias>UmbracoForms.FormPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "allowedForms": []
}]]></Config>
</DataType>