<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e97d4f04-347c-4455-8140-8c8c08eee718" Alias="Hero - Use Typewriter Style - Checkbox" Level="1">
  <Info>
    <Name>Hero - Use Typewriter Style - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": "0",
  "Label": null
}]]></Config>
</DataType>