<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3c5fe1ca-f2d2-439f-a8fc-97b93a407afd" Alias="Home page - Promos - Nested Content" Level="1">
  <Info>
    <Name>Home page - Promos - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "promo",
      "ncTabAlias": "Promo",
      "nameTemplate": ""
    }
  ],
  "MinItems": 3,
  "MaxItems": 3,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>