<?xml version="1.0" encoding="utf-8"?>
<DataType Key="998a05b4-1a1c-4acf-b552-d50ef36529fb" Alias="Location - Dropdown" Level="1">
  <Info>
    <Name>Location - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Function Hall"
    },
    {
      "id": 2,
      "value": "Games Room"
    },
    {
      "id": 3,
      "value": "Main Bar"
    },
    {
      "id": 4,
      "value": "Other"
    }
  ]
}]]></Config>
</DataType>