<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b507a4e4-f3cc-4854-84d8-08b57dfc0530" Alias="Logos Nested Content" Level="1">
  <Info>
    <Name>Logos Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "logoWithUrl",
      "ncTabAlias": "Logos",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>