<?xml version="1.0" encoding="utf-8"?>
<DataType Key="46550d9d-fade-4545-8fcd-268c9fefb3ea" Alias="Navigation - umbracoNaviHide - Checkbox" Level="1">
  <Info>
    <Name>Navigation - umbracoNaviHide - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": "0",
  "Label": null
}]]></Config>
</DataType>