<?xml version="1.0" encoding="utf-8"?>
<DataType Key="caa68fb1-abcf-4c6f-8787-2d7f7216ef51" Alias="Promos Nested Content" Level="1">
  <Info>
    <Name>Promos Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "promo",
      "ncTabAlias": "Promo",
      "nameTemplate": ""
    }
  ],
  "MinItems": 3,
  "MaxItems": 3,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>