<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2ad37c4e-b271-417d-b145-a2533a3e220f" Alias="Seo Meta Tags - CustomScripts - Textarea" Level="1">
  <Info>
    <Name>Seo Meta Tags - CustomScripts - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>