<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a96f852c-e006-49d9-8f9b-b428bc42525e" Alias="Site Settings - Facebook - Multi Url Picker" Level="1">
  <Info>
    <Name>Site Settings - Facebook - Multi Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>