<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fbf2e30a-cdaa-4853-ad26-d733dc1624c4" Alias="Site Settings - Site Theme - Dropdown" Level="1">
  <Info>
    <Name>Site Settings - Site Theme - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "brand1"
    },
    {
      "id": 2,
      "value": "brand2"
    },
    {
      "id": 3,
      "value": "brand3"
    },
    {
      "id": 4,
      "value": "brand4"
    },
    {
      "id": 5,
      "value": "brand5"
    },
    {
      "id": 6,
      "value": "brand6"
    }
  ]
}]]></Config>
</DataType>