<?xml version="1.0" encoding="utf-8"?>
<DataType Key="750de2bf-3c9e-469e-8d8c-6b0596cd73e2" Alias="Site Settings - Login - Checkbox" Level="1">
  <Info>
    <Name>Site Settings - Login - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": "0",
  "Label": null
}]]></Config>
</DataType>