<?xml version="1.0" encoding="utf-8"?>
<DataType Key="06152c9c-2ec2-4b07-8dd3-abe67c0da6f2" Alias="Slider 0.1 to 1" Level="1">
  <Info>
    <Name>Slider 0.1 to 1</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 0.5,
  "InitialValue2": 0.0,
  "MinimumValue": 0.1,
  "MaximumValue": 1.0,
  "StepIncrements": 0.1
}]]></Config>
</DataType>