<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8ff680f3-d80e-4751-8aae-e68cf895f396" Alias="Standard Content - Heading - Textbox" Level="1">
  <Info>
    <Name>Standard Content - Heading - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>