<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ec80f78d-0c25-48fa-8640-a1df6d307cef" Alias="test - test2 - Textbox" Level="1">
  <Info>
    <Name>test - test2 - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>