<?xml version="1.0" encoding="utf-8"?>
<DataType Key="91ec4d7c-6bc7-4888-adca-c0ae6455917d" Alias="test - test - Textbox" Level="1">
  <Info>
    <Name>test - test - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>