<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c9e3e0df-b8e0-4424-a965-f7707e0af2b3" Alias="Theme Dropdown" Level="1">
  <Info>
    <Name>Theme Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "brand1"
    },
    {
      "id": 2,
      "value": "brand2"
    },
    {
      "id": 3,
      "value": "brand3"
    },
    {
      "id": 4,
      "value": "brand4"
    },
    {
      "id": 5,
      "value": "brand5"
    },
    {
      "id": 6,
      "value": "brand6"
    }
  ]
}]]></Config>
</DataType>